* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    background-color: white;
}
body {
    background-color: white;
    font-family: 'Nanum Gothic', sans-serif;
    width: 1000px;
    margin: auto;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

/* navbar */
.navBox {
    /* position: sticky;
    top: 0; */
    background-color: white;
    padding: 10px;
}
nav {
    height: 90px;
}

.logo {
    width: 222px;
    height: 50px;
    position: absolute;
    margin: 20px 20px;
}

#logoImage {
    width: 222px;
    height: 50px;
}

.navList {
    float: right;
    height: 100%;
}

nav li {
    float: left;
    list-style: none;
    font-weight: bold;
    font-size: large;
}

.navList a {
    height: 90px;
    line-height: 90px;
    margin: 0 20px 0 10px;
    text-decoration: none;
    color: black;
    transition: color .2s;
}
.navList a:hover {
    color: rgb(255, 55, 55);
}

/* 메인이미지 */
.mainImg {
    width: 100%;
    height: 400px;
    background-image: url('picture/ai.jpg');
    background-color: #0005;
    background-blend-mode: darken;
}
.mainImg h3 {
    line-height: 400px;
    color: white;
    padding-left: 51px;
    font-size: 35px;
}

/* 컨텐츠박스 */
.contents1 {
    margin-top: 30px;
    margin-bottom: 60px;
}
.contents1 .title {
    margin-top: 60px;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(39, 39, 137);
}
.title svg {
    margin: 0 5px;
}
/* 전공소개 */
.majorBox {
    margin: 20px 0;
    padding: 0 50px 30px 50px;
    border: solid;
    border-color: #D8D8D8;
    border-width: 1px;
    box-shadow: 2px 2px 2px gray;
}
.majorBox .title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}
.majorTitle {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(58, 58, 182);
}
.major .contents {
    margin-top: 20px;
    line-height: 1.7em;
    text-align: justify;
}
/* 연혁 */
.historyBox {
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;
    line-height: 70px;
    border: solid;
    border-color: #D8D8D8;
    border-width: 1px;
    box-shadow: 2px 2px 2px gray;
}
.history li{
    list-style: none;
    height: 50px;
}
.history li div {
    float: left;
    line-height: 50px;
}
.year {
    padding-left: 50px;
    font-size: 20px;
    font-weight: 900;
    color: rgb(58, 58, 182);
}
.month {
    padding-left: 50px;
    font-size: 16px;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 900;
}
.cont,.cont2 {
    padding-left: 50px;
    font-size: 15px;
}
.history .cont2Li {
    height: 30px;
}
.history .cont2 {
    padding-left: 148px;
    height: 30px;
    line-height: 0px;
}

/* 교수진 */
.profsBox {
    margin-top: 20px;
    padding: 20px 20px;
    border: solid;
    border-color: #D8D8D8;
    border-width: 1px;
    box-shadow: 2px 2px 2px gray;
}
.profs .profList{
    list-style: none;
    width: 476px;
    height: 100px;
    margin: 20px 0 20px 0;
    display: inline-block;

}
.profBox {
    height: 100%;
    float: left;
}
.profBox .picture,.prof {
    float: left;
}
.picture {
    width: 100px;
    height: 100%;
    padding: 24px;
    margin-left: 50px;
    border: solid;
    border-color: #D8D8D8;
    border-width: 1px;
    color: gray;
}
.profBox .prof {
    width: 300px;
    height: 100%;
}
.profName {
    padding: 5px 0 10px 20px;
    font-size: 20px;    
    font-weight: 900;
    color: rgb(58, 58, 182); 
}
.profConts {
    height: 30px;
    font-size: 15px;
}
.profConts  div{
    float: left;
    line-height: 25px;
}
.profCont :first-child{
    width: 90px;
    padding-left: 20px;
    font-weight: 900;
}
.profCont :nth-child(2){
    width: 200px;
    color: gray;
}